.home-container {
    width: 300px; /* Largura do contêiner de login */
    margin: 10vh auto; /* Centraliza o contêiner na página */
    padding: 20px; /* Espaçamento interno */
    background-color: #eeeeee; /* Cor de fundo branca para o contêiner */
    box-shadow: 0 8px 10px rgba(22, 76, 255, 0.884); /* Sombra para o contêiner */
    border-radius: 8px; /* Bordas arredondadas */
    text-align: center;
}

button {
    width: 200px; /* Define uma largura uniforme para todos os botões */
    height: 50px; /* Define uma altura uniforme para todos os botões */
    font-size: 16px; /* Define o tamanho da fonte */
    padding: 10px; /* Define o espaçamento interno */
    margin: 5px 50px; /* Define o espaçamento externo entre os botões */
    border: none; /* Remove a borda padrão */
    border-radius: 5px; /* Adiciona bordas arredondadas */
    background-color: #9b9b9b; /* Cor de fundo para os botões (exceto logout) */
    color: white; /* Cor do texto */
    cursor: pointer; /* Muda o cursor ao passar por cima do botão */
  }
  
  button:hover {
    background-color: #0056b3; /* Altera a cor ao passar o mouse */
  }
  
  .logout-button {  
    background-color: #939597; /* Cor de fundo vermelha para o botão de logout */
  }
  
  .logout-button:hover {
    background-color: red; /* Altera a cor do botão de logout ao passar o mouse */
  }